fastapi~=0.121.1
uvicorn
langchain~=1.0.5
openai~=2.7.2
transformers~=4.57.1
torch~=2.9.0
sentence-transformers
chromadb
python-dotenv~=1.2.1
pydantic
sqlalchemy
redis
httpx

# LangChain Ecosystem
langchain
langchain-openai
langchain-core
langchain-community
langchain-chroma
langchain-huggingface


chromadb
requests~=2.32.5
langdetect~=1.0.9
deep-translator
azure-ai-inference
tensorflow~=2.20.0
nltk~=3.9.2
numpy~=2.3.4